# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
NEXTAUTH_SECRET=
AUTH_URL=http://localhost:3000

#PINATA
NEXT_PUBLIC_GATEWAY_URL=
PINATA_API_KEY=
PINATA_SECRET_API_KEY=
PINATA_JWT=

#ALCHEMY
NEXT_PUBLIC_ALCHEMY_API_KEY=
ALCHEMY_HTTP_URL=

#SMART CONTRACT
NEXT_PUBLIC_FACTORY_ADDRESS=

#HARDHAT
PRIVATE_KEY=
SEPOLIA_RPC_URL=
ETHERSCAN_API_KEY=
FACTORY_OWNER=
CREATION_FEE=0