NODE_ENV=development
# Generate dengan: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
NEXTAUTH_SECRET=[GENERATE_RANDOM_SECRET]
NEXTAUTH_URL=http://localhost:3000

#PINATA - Untuk penyimpanan IPFS
NEXT_PUBLIC_GATEWAY_URL=ipfs.io
PINATA_API_KEY=[YOUR_PINATA_API_KEY]
PINATA_SECRET_API_KEY=[YOUR_PINATA_SECRET]
PINATA_JWT=[YOUR_PINATA_JWT_TOKEN]

#ALCHEMY - Provider node blockchain
NEXT_PUBLIC_ALCHEMY_API_KEY=[YOUR_ALCHEMY_API_KEY]
ALCHEMY_HTTP_URL=[YOUR_ALCHEMY_HTTP_URL]

#REDIS - Database caching
UPSTASH_REDIS_REST_URL=[YOUR_UPSTASH_URL]
UPSTASH_REDIS_REST_TOKEN=[YOUR_UPSTASH_TOKEN]

#SMART CONTRACT
NEXT_PUBLIC_FACTORY_ADDRESS=[KOSONGKAN_DULU]

#HARDHAT DEPLOYMENT - Untuk deploy smart contract
PRIVATE_KEY=[YOUR_WALLET_PRIVATE_KEY]
CREATION_FEE=0
#diisi sama dengan variabel ALCHEMY_HTTP_URL
SEPOLIA_RPC_URL=[YOUR_ALCHEMY_HTTP_URL]
#optional
CONTRACT_ADDRESS=[OPTIONAL]
ETHERSCAN_API_KEY=[OPTIONAL]

CI=false
