NODE_ENV=development
# Generate with: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
NEXTAUTH_SECRET=[GENERATE_RANDOM_SECRET]
NEXTAUTH_URL=http://localhost:3000

#PINATA - For IPFS storage
NEXT_PUBLIC_GATEWAY_URL=ipfs.io
PINATA_API_KEY=[YOUR_PINATA_API_KEY]
PINATA_SECRET_API_KEY=[YOUR_PINATA_SECRET]
PINATA_JWT=[YOUR_PINATA_JWT_TOKEN]

#ALCHEMY - Blockchain node provider
NEXT_PUBLIC_ALCHEMY_API_KEY=[YOUR_ALCHEMY_API_KEY]
ALCHEMY_HTTP_URL=[YOUR_ALCHEMY_HTTP_URL]

#REDIS - Database caching
UPSTASH_REDIS_REST_URL=[YOUR_UPSTASH_URL]
UPSTASH_REDIS_REST_TOKEN=[YOUR_UPSTASH_TOKEN]

#SMART CONTRACT
NEXT_PUBLIC_FACTORY_ADDRESS=[DEPLOY_FIRST_THEN_FILL_WITH_DEPLOYED_CONTRACT_ADDRESS]

#HARDHAT DEPLOYMENT - For smart contract deployment
PRIVATE_KEY=[YOUR_WALLET_PRIVATE_KEY]
CREATION_FEE=0
#Filled same as ALCHEMY_HTTP_URL variable
SEPOLIA_RPC_URL=[YOUR_ALCHEMY_HTTP_URL]
#optional
CONTRACT_ADDRESS=[OPTIONAL]
ETHERSCAN_API_KEY=[OPTIONAL]

CI=false
